head
  
  meta(http-equiv="content-type", content="text/html; charset=UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

  //-title= pkg.name + ' - ' + title
  //-title= 'Facebook Theme Demo'

  meta(name="keywords", content="{{ pkg.keywords.join(',') }}")
  meta(name="description", content="{{ pkg.description }}")

  meta(property="og:title", content=pkg.name + ' - ' + title)
  meta(property="og:description", content=pkg.description)
  meta(property="og:site_name", content="Vetbook demo")

  block head
    //-link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/bootstrap.css" rel="stylesheet")
    //-<!--[if lt IE 9]>
    //-      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    //-<![endif]-->
    link(href="/css/facebook.css" rel="stylesheet")

    //- link(href="/css/jquery.tagsinput.css", rel="stylesheet")
    //- link(href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    //- link(rel="stylesheet", href="/css/app.css")
