//extends ../layouts/default

//block main
  //h1= title

block content
      div(class=`py-4 ${index && 'border-top'}`)
        //include template
        .panel.panel-default
          .panel-heading
            a.pull-right(href='/templates/'+template._id) View all
            h4= template.title
            h4= template.body
          .panel-body
            ul.list-group
              li.list-group-item Modals
              li.list-group-item Sliders / Carousel
              li.list-group-item Thumbnails